html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 44px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44px;
  line-height: 44px;
}

.cardTable td {
  padding: 10px;
}

.cardTable tr {
  border-bottom: 1px solid #ccc;
}

.invalid-input-error {
  color: red;
}

.cardTable td {
  padding: 10px;
}

.cardTable tr {
  border-bottom: 1px solid #ccc;
}

.invalid-input-error {
  color: red;
}

.list-group-item {
  padding-top: 0.200rem !important;
  padding-bottom: 0.200rem !important;
}

.list-group-item {
  border: 0px !important;
}

.list-group-item:first-child {
  border-top-left-radius: 0.0rem !important;
  border-top-right-radius: 0.0rem !important;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0.0rem !important;
  border-bottom-right-radius: 0.0rem !important;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  border: 0px !important;
}