{{> header title="Check Your Email" }}

<body>
  
  {{> nav-loggedout }}
  
  <div class="container mt-5">
    
    <div class="row">
      <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 mt-3 shadow-lg p-4">
        <h5 class="mb-3 text-center">Check Your Email</h5>
        <p>To complete signup, check your email for a <strong>confirmation link</strong>. Be sure to check your junk folder too&mdash; sometimes the email can get stuck there.</p>
        <a href="/admin" id="backButton" class="btn btn-primary btn-lg btn-block mt-3">Back</a>
      </div>
    </div>
    
  </div>
  
  {{> footer}}

  {{> bootstrapjs}}
  
</body>
